<?php
$CONFIG = array (
  'trusted_proxies' => ['10.244.0.0/16'],
  'default_phone_region' => getenv('DEFAULT_PHONE_REGION'),
  'lost_password_link' => getenv('LOST_PASSWORD_LINK'),
  'log_type' => 'error_log',
  'tempdirectory' => '/var/www/tmp',
  'overwrite.cli.url' => 'https://' . getenv('OVERWRITE_HOST'),
);
