<?php
$CONFIG = array (
  'trusted_proxies' => ['10.244.0.0/16'],
  'overwritehost' => getenv('OVERWRITE_HOST'),
  'overwriteprotocol' => getenv('OVERWRITE_PROTOCOL'),
  'overwrite.cli.url' => getenv('OVERWRITE_PROTOCOL') . "://" . getenv('OVERWRITE_HOST'),
);
